!*.manifest
!.ipython/profile_default/ipython_config.py
#/[A-Z]*[_-][A-Z-]*.md
#ai_*/
*.backup
*.bak
*.bak.*
*.deb
*.gz
*.iso
*.jp*g
*.log
*.md5sum
*.old
*.png
*.pyc
*.retry
*.rpm
*.svg
*.swp
*.tar.*
*.tar.gz
*.temp
*.tgz
*.tmp
*.zip
.DS_Store
.Makefile.*
.aider*
.asdf/
.claude*
.claude/
.claude/*
.code/
.codex/
.direnv/
.env*
.ipython
.netrwhist
.rgignore
.stignore
.stversions/
.tags
.tags.files
.tags.lock
.tern-port
.tmuxp.yaml
.tool-versions
.vim-go/*
/*PLAN.md
/*REQUIREMENT*.md
/*STATUS*.md
/.mcp.json
/vim/bundle/
/vim/init.vim
/vim/plugged/
/vim/tmp/
AGENT*.md
Anaconda*.sh
CLAUDE*.md
__pycache__
asdf/
init.vim
issues/*.md
kubeconfig.yaml
kubeconfig/*.yaml
logs/
mermaid-filter.err
node_modules/
package-lock.json
package.json
rke2.yaml
tags
tags.files
tags.lock
tags.temp
temp
uploads/
usage_tracking*.json
yarn.lock
