!*.manifest
!.ipython/profile_default/ipython_config.py
*.bak
*.deb
*.gz
*.iso
*.jp*g
*.key
*.log
*.md5sum
*.old
*.png
*.pyc
*.retry
*.rpm
*.swp
*.tar.*
*.tar.gz
*.temp
*.tgz
*.tmp
*.zip
.DS_Store
.Makefile.*
.direnv/
.env*
.ipython
.netrwhist
.rgignore
.stignore
.stversions/
.tags
.tags.files
.tags.lock
.tern-port
.tmuxp.yaml
.vim-go/*
/vim/bundle/
/vim/init.vim
/vim/plugged/
/vim/tmp/
Anaconda*.sh
__pycache__
init.vim
mermaid-filter.err
rke2.yaml
tags
tags.files
tags.lock
tags.temp
temp
yarn.lock
