*.bak
*.deb
*.gz
*.iso
*.jp*g
*.key
*.log
*.md5sum
*.old
*.png
*.pyc
*.retry
*.rpm
*.swp
*.tar.*
*.tar.gz
*.zip
*temp
*tmp
.DS_Store
.Makefile.*
.env*
.netrwhist
.stignore
.stversions/
.tags
.tern-port
.tmuxp.yaml
.vim-go/*
Anaconda*.sh
__pycache__
init.vim
tags
tags.files
tags.lock
tags.temp
temp
/vim/bundle/
/vim/init.vim
/vim/plugged/
/vim/tmp/
