Jinja2
MarkupSafe
ansible
ansible-lint
argcomplete
autoflake
awscli
awscliv2
awslogs
black
boto
boto3
botocore
colorama
cookiecutter
cryptography
django
docformatter
docutils
flake8
frosted
ipaddress
ipdb
isort
jmespath
mypy
neovim
netaddr
pathlib
pipx
pre-commit
pyOpenSSL
pyasn1
pycodestyle
pycparser
python-dateutil
rsa
s3transfer
setuptools
six
tmuxp
urllib3
yamllint
yapf
